---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/owner/github_id/639823/active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Active::ForOwner
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "builds",
          "@href": "/owner/github_id/639823/active",
          "@representation": "active",
          "builds": [
            {
              "@type": "build",
              "@href": "/build/376873572",
              "@representation": "active",
              "@permissions": {
                "read": true,
                "restart": false,
                "cancel": false
              },
              "id": 376873572,
              "number": "8174",
              "state": "created",
              "duration": null,
              "event_type": "push",
              "previous_state": "errored",
              "pull_request_title": null,
              "pull_request_number": null,
              "started_at": null,
              "finished_at": null,
              "private": false,
              "repository": {
                "@type": "repository",
                "@href": "/repo/2717",
                "@representation": "minimal",
                "id": 2717,
                "name": "travis-build",
                "slug": "travis-ci/travis-build"
              },
              "branch": {
                "@type": "branch",
                "@href": "/repo/2717/branch/sf-debug",
                "@representation": "minimal",
                "name": "sf-debug"
              },
              "tag": null,
              "commit": {
                "@type": "commit",
                "@representation": "minimal",
                "id": 112664115,
                "sha": "6d6155966df2474db6b4296c883bcb01e6788676",
                "ref": "refs/heads/sf-debug",
                "message": "add a note about apt-get update being disabled if APT_GET_UPDATE_OPT_IN is given",
                "compare_url": "https://github.com/travis-ci/travis-build/compare/6c382cbfd5be...6d6155966df2",
                "committed_at": "2018-05-09T15:01:46Z"
              },
              "jobs": [

              ],
              "stages": [
                {
                  "@type": "stage",
                  "@representation": "minimal",
                  "id": 2037192,
                  "number": 2,
                  "name": "Test update_static_files rake task",
                  "state": "canceled",
                  "started_at": null,
                  "finished_at": "2018-05-09T15:02:28Z"
                },
                {
                  "@type": "stage",
                  "@representation": "minimal",
                  "id": 2037191,
                  "number": 1,
                  "name": "Test",
                  "state": "canceled",
                  "started_at": null,
                  "finished_at": "2018-05-09T15:02:27Z"
                }
              ],
              "created_by": null,
              "updated_at": "2018-08-23T16:03:35.200Z"
            },
            {
              "@type": "build",
              "@href": "/build/284776097",
              "@representation": "active",
              "@permissions": {
                "read": true,
                "restart": false,
                "cancel": false
              },
              "id": 284776097,
              "number": "7180",
              "state": "started",
              "duration": null,
              "event_type": "push",
              "[...]
