---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.com/user/119240/beta_migration_request
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::BetaMigrationRequest::Create
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "beta_migration_request",
          "@representation": "standard",
          "id": 1,
          "owner_id": 119240,
          "owner_name": "danielpclark",
          "owner_type": "User",
          "accepted_at": null,
          "organizations": [

          ]
        }
  recorded_at: Sun, 02 Jun 2019 22:37:11 GMT
recorded_with: VCR 4.0.0
