---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/builds?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Builds::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "builds",
          "@href": "/repo/danielpclark%2Ftrav3/builds?limit=25",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 41,
            "is_first": true,
            "is_last": false,
            "next": {
              "@href": "/repo/danielpclark%2Ftrav3/builds?limit=25&offset=25",
              "offset": 25,
              "limit": 25
            },
            "prev": null,
            "first": {
              "@href": "/repo/danielpclark%2Ftrav3/builds?limit=25",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/danielpclark%2Ftrav3/builds?limit=25&offset=25",
              "offset": 25,
              "limit": 25
            }
          },
          "builds": [
            {
              "@type": "build",
              "@href": "/build/478715879",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "restart": true,
                "cancel": true
              },
              "id": 478715879,
              "number": "41",
              "state": "passed",
              "duration": 143,
              "event_type": "push",
              "previous_state": "passed",
              "pull_request_title": null,
              "pull_request_number": null,
              "started_at": "2019-01-12T11:45:41Z",
              "finished_at": "2019-01-12T11:47:08Z",
              "private": false,
              "repository": {
                "@type": "repository",
                "@href": "/repo/18059679",
                "@representation": "minimal",
                "id": 18059679,
                "name": "trav3",
                "slug": "danielpclark/trav3"
              },
              "branch": {
                "@type": "branch",
                "@href": "/repo/18059679/branch/trav3%2Ffeature%2Frspec",
                "@representation": "minimal",
                "name": "trav3/feature/rspec"
              },
              "tag": null,
              "commit": {
                "@type": "commit",
                "@representation": "minimal",
                "id": 144215935,
                "sha": "0a9fca9a12aa43c84a294c3e2a68388eab648928",
                "ref": "refs/heads/trav3/feature/rspec",
                "message": "WIP test coverage for TravisCI API - #2",
                "compare_url": "https://github.com/danielpclark/trav3/compare/1858569ca7bd...0a9fca9a12aa",
                "committed_at": "2019-01-11T21:18:33Z"
              },
              "jobs": [
                {
                  "@type": "job",
                  "@href": "/job/478715880",
                  "@representation": "minimal",
                  "id": 478715880
                },
                {
                  "@type": "job",
                  "@href": "/job/478715881",
                  "@representation": "minimal",
                  "id": 478715881
                },
                {
                  "@type": "job",
                  "@href": "/job/478715882",
                  "@representation": "minimal",
                  "id": 478715882
                }
              ],
              "stages": [

              ],
              "created_by": {
                "@type": "user",
                "@href": "/user/114816",
                "@representation": "minimal",
                "id": 114816,
                "login": "danielpclark"
              },
              "updated_at": "2019-01-12T11:47:08.488Z"
            },
            {
              "@type": "build",
              "@href": "/build/478715004",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "restart": true,
                "cancel": true
              },
              "id": 478715004,
              "number": "40",
              "state": "passed",
              "duration": 173,
              "event_type": "pull_request",
           [...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/builds?limit=25&offset=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Builds::Find
      X-Oauth-Sc[...]
[...]
