---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/caches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Caches::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "caches",
          "@href": "/repo/danielpclark%2Ftrav3/caches",
          "@representation": "standard",
          "caches": [
            {
              "@type": "cache",
              "@representation": "standard",
              "repository_id": 22777898,
              "size": 12217944,
              "name": "cache-linux-trusty-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855--rvm-2.4.5--gemfile-Gemfile.tgz",
              "branch": "PR.33",
              "last_modified": "2019-01-15T15:29:01Z",
              "repo": {
                "@type": "repository",
                "@href": "/repo/22777898",
                "@representation": "minimal",
                "id": 22777898,
                "name": "trav3",
                "slug": "danielpclark/trav3"
              }
            },
            {
              "@type": "cache",
              "@representation": "standard",
              "repository_id": 22777898,
              "size": 11049157,
              "name": "cache-linux-trusty-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855--rvm-2.5.3--gemfile-Gemfile.tgz",
              "branch": "PR.33",
              "last_modified": "2019-01-15T15:29:23Z",
              "repo": {
                "@type": "repo[...]
[...]
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/caches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Caches::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "caches",
          "@href": "/repo/danielpclark%2Ftrav3/caches",
          "@representation": "standard",
          "caches": [

          ]
        }
  recorded_at: Tue, 15 Jan 2019 17:43:49 GMT
recorded_with: VCR 4.0.0
