---
http_interactions:
- request:
    method: patch
    uri: https://api.travis-ci.com/user/119240/beta_feature/2
    body:
      encoding: UTF-8
      string: '{"beta_feature.id":2,"beta_feature.enabled":true}'
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::BetaFeature::Update
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "beta_feature",
          "@representation": "standard",
          "id": 2,
          "name": "pride",
          "description": "We deeply care about diversity, and strive to be an inclusive organisation. Show your pride (or your solidarity).",
          "enabled": true,
          "feedback_url": null
        }
  recorded_at: Tue, 29 Jan 2019 18:33:18 GMT
- request:
    method: delete
    uri: https://api.travis-ci.com/user/119240/beta_feature/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::BetaFeature::Delete
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "beta_feature",
          "@representation": "standard",
          "id": 2,
          "name": "pride",
          "description": "We deeply care about diversity, and strive to be an inclusive organisation. Show your pride (or your solidarity).",
          "enabled": true,
          "feedback_url": null
        }
  recorded_at: Tue, 29 Jan 2019 18:33:18 GMT
recorded_with: VCR 4.0.0
