---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/branch/master/cron
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Cron::ForBranch
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "cron",
          "@href": "/cron/78199",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "start": true,
            "delete": true
          },
          "id": 78199,
          "repository": {
            "@type": "repository",
            "@href": "/repo/22777898",
            "@representation": "minimal",
            "id": 22777898,
            "name": "trav3",
            "slug": "danielpclark/trav3"
          },
          "branch": {
            "@type": "branch",
            "@href": "/repo/22777898/branch/master",
            "@representation": "minimal",
            "name": "master"
          },
          "interval": "weekly",
          "dont_run_if_recent_build_exists": false,
          "last_run": null,
          "next_run": "2019-01-28T23:03:45Z",
          "created_at": "2019-01-28T23:02:45Z",
          "active": true
        }
  recorded_at: Mon, 28 Jan 2019 23:03:19 GMT
recorded_with: VCR 4.0.0
