---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/owner/github_id/639823
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Owner::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "organization",
          "@href": "/org/87",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "sync": false
          },
          "id": 87,
          "login": "travis-ci",
          "name": "Travis CI",
          "github_id": 639823,
          "avatar_url": "https://avatars2.githubusercontent.com/u/639823",
          "education": false,
          "allow_migration": false
        }
  recorded_at: Fri, 11 Jan 2019 21:14:23 GMT
recorded_with: VCR 4.0.0
