---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/unstar
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Repository::Unstar
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "repository",
          "@href": "/repo/18059679",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "activate": true,
            "deactivate": true,
            "migrate": true,
            "star": true,
            "unstar": true,
            "create_cron": true,
            "create_env_var": true,
            "create_key_pair": true,
            "create_request": true,
            "admin": true,
            "delete_key_pair": true
          },
          "id": 18059679,
          "name": "trav3",
          "slug": "danielpclark/trav3",
          "description": "A simple abstraction layer for the Travs CI v3 API",
          "github_id": 124688971,
          "github_language": null,
          "active": true,
          "private": false,
          "owner": {
            "@type": "user",
            "id": 114816,
            "login": "danielpclark",
            "@href": "/user/114816"
          },
          "default_branch": {
            "@type": "branch",
            "@href": "/repo/18059679/branch/master",
            "@representation": "minimal",
            "name": "master"
          },
          "starred": false,
          "managed_by_installation": false,
          "active_on_org": null,
          "migration_status": null
        }
  recorded_at: Sat, 12 Jan 2019 15:44:22 GMT
recorded_with: VCR 4.0.0
