---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/request/147731561/messages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Messages::ForRequest
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "messages",
          "@href": "/repo/danielpclark%2Ftrav3/request/147731561/messages",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 0,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/danielpclark%2Ftrav3/request/147731561/messages",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/danielpclark%2Ftrav3/request/147731561/messages?limit=25&offset=-25",
              "offset": -25,
              "limit": 25
            }
          },
          "messages": [

          ]
        }
  recorded_at: Thu, 24 Jan 2019 17:27:02 GMT
recorded_with: VCR 4.0.0
