---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/key_pair/generated
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::SslKey::Create
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "key_pair",
          "@href": "/repo/22777898/key_pair/generated",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "write": true
          },
          "description": "This key pair was generated by Travis CI",
          "public_key": "-----BEGIN PUBLIC KEY-----\nxxxx==\n-----END PUBLIC KEY-----\n",
          "fingerprint": "00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"
        }
  recorded_at: Fri, 25 Jan 2019 19:44:11 GMT
recorded_with: VCR 4.0.0
