---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/build/478772528/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Build::Cancel
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "pending",
          "build": {
            "@type": "build",
            "@href": "/build/478772528",
            "@representation": "minimal",
            "id": 478772528,
            "number": "1",
            "state": "created",
            "duration": null,
            "event_type": "push",
            "previous_state": null,
            "pull_request_title": null,
            "pull_request_number": null,
            "started_at": null,
            "finished_at": null,
            "private": false
          },
          "state_change": "cancel",
          "resource_type": "build"
        }
  recorded_at: Tue, 15 Jan 2019 15:09:22 GMT
recorded_with: VCR 4.0.0
