---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/user/119240
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::User::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "user",
          "@href": "/user/119240",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "sync": false
          },
          "id": 119240,
          "login": "SeMorgana",
          "name": "morgan_z",
          "github_id": 4149067,
          "avatar_url": "https://avatars1.githubusercontent.com/u/4149067?v=4",
          "education": false,
          "allow_migration": false,
          "is_syncing": false,
          "synced_at": "2019-01-14T04:26:53Z"
        }
  recorded_at: Mon, 14 Jan 2019 20:13:25 GMT
recorded_with: VCR 4.0.0
