---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::User::Current
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "user",
          "@href": "/user/114816",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "sync": true
          },
          "id": 114816,
          "login": "danielpclark",
          "name": "Daniel P. Clark",
          "github_id": 319081,
          "avatar_url": "https://avatars1.githubusercontent.com/u/319081?v=4",
          "education": false,
          "allow_migration": false,
          "is_syncing": false,
          "synced_at": "2019-01-14T04:12:09Z"
        }
  recorded_at: Mon, 14 Jan 2019 20:13:25 GMT
recorded_with: VCR 4.0.0
