---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/env_vars
    body:
      encoding: UTF-8
      string: '{"env_var.name":"Foo","env_var.value":"Bar","env_var.public":true}'
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::EnvVars::Create
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "env_var",
          "@href": "/repo/22777898/env_var/76f9d8bd-642d-47ed-9f35-4c25eb030c6c",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "write": true
          },
          "id": "76f9d8bd-642d-47ed-9f35-4c25eb030c6c",
          "name": "Foo",
          "value": "Bar",
          "public": true
        }
  recorded_at: Sat, 26 Jan 2019 20:53:46 GMT
recorded_with: VCR 4.0.0
