---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/lint
    body:
      encoding: UTF-8
      string: |
        language: ruby

        rvm:
        - 2.4.5
        - 2.5.3
        - 2.6.0

        env:
          global:
            - CC_TEST_REPORTER_ID=bbc65a7f5858b221fbbb49617e4118dcce44703366ea64a49687214aed252cf3

        before_script:
          - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          - chmod +x ./cc-test-reporter
          - ./cc-test-reporter before-build

        script:
          - bundle exec rake
          - bundle exec rubocop

        after_script:
          - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
    headers:
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Lint::Lint
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@warnings": [
            {
              "@type": "warning",
              "message": "query parameter language: ruby\n\nrvm:\n- 2.4.5\n- 2.5.3\n- 2.6.0\n\nenv:\n  global:\n    - CC_TEST_REPORTER_ID not safelisted, ignored",
              "warning_type": "ignored_parameter",
              "parameter": "language: ruby\n\nrvm:\n- 2.4.5\n- 2.5.3\n- 2.6.0\n\nenv:\n  global:\n    - CC_TEST_REPORTER_ID"
            }
          ],
          "@type": "lint",
          "warnings": [

          ]
        }
  recorded_at: Mon, 14 Jan 2019 23:37:51 GMT
recorded_with: VCR 4.0.0
