---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.com/user/119240/beta_features
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::BetaFeatures::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "beta_features",
          "@href": "/user/119240/beta_features",
          "@representation": "standard",
          "beta_features": [
            {
              "@type": "beta_feature",
              "@representation": "standard",
              "id": 1,
              "name": "dashboard",
              "description": "Try the new personal Dashboard layout, built for teams with a growing number of Repositories testing on Travis CI. This new design also brings consistency to our UI when viewing Builds across various screen sizes.",
              "enabled": false,
              "feedback_url": "https://github.com/travis-ci/beta-features/issues/5"
            },
            {
              "@type": "beta_feature",
              "@representation": "standard",
              "id": 2,
              "name": "pride",
              "description": "We deeply care about diversity, and strive to be an inclusive organisation. Show your pride (or your solidarity).",
              "enabled": false,
              "feedback_url": null
            },
            {
              "@type": "beta_feature",
              "@representation": "standard",
              "id": 3,
              "name": "comic-sans",
              "description": "You can't usually see it much around here, but deep in our hearts, we will always treasure Comic Sans (the font that was all over the internet back in the 90s). If you feel the same way, this is your chance to bring some Comic Sans to your Travis CI.",
              "enabled": false,
              "feedback_url": null
            }
          ]
        }
  recorded_at: Tue, 29 Jan 2019 17:56:30 GMT
recorded_with: VCR 4.0.0
