---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/setting/auto_cancel_pull_requests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::UserSetting::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "setting",
          "@href": "/repo/22777898/setting/auto_cancel_pull_requests",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "write": true
          },
          "name": "auto_cancel_pull_requests",
          "value": true
        }
  recorded_at: Fri, 18 Jan 2019 22:28:52 GMT
recorded_with: VCR 4.0.0
