---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/build/351778872/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Jobs::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "jobs",
          "@href": "/build/351778872/jobs",
          "@representation": "standard",
          "jobs": [
            {
              "@type": "job",
              "@href": "/job/351778873",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "delete_log": true,
                "cancel": true,
                "restart": true,
                "debug": true
              },
              "id": 351778873,
              "allow_failure": false,
              "number": "6.1",
              "state": "passed",
              "started_at": "2018-03-10T19:33:40Z",
              "finished_at": "2018-03-10T19:34:30Z",
              "build": {
                "@type": "build",
                "@href": "/build/351778872",
                "@representation": "minimal",
                "id": 351778872,
                "number": "6",
                "state": "created",
                "duration": null,
                "event_type": "push",
                "previous_state": "errored",
                "pull_request_title": null,
                "pull_request_number": null,
                "started_at": null,
                "finished_at": null,
                "private": false
              },
              "queue": "builds.ec2",
              "repository": {
                "@type": "repository",
                "@href": "/repo/18059679",
                "@representation": "minimal",
                "id": 18059679,
                "name": "trav3",
                "slug": "danielpclark/trav3"
              },
              "commit": {
                "@type": "commit",
                "@representation": "minimal",
                "id": 104726860,
                "sha": "784bf4de64ac4bdf7afadbc63927d421703d6fe3",
                "ref": "refs/heads/master",
                "message": "don't stash Gemfile.lock",
                "compare_url": "https://github.com/danielpclark/trav3/compare/1633b9241ece...784bf4de64ac",
                "committed_at": "2018-03-10T19:33:24Z"
              },
              "owner": {
                "@type": "user",
                "@href": "/user/114816",
                "@representation": "minimal",
                "id": 114816,
                "login": "danielpclark"
              },
              "stage": null,
              "created_at": "2018-03-10T19:33:37.325Z",
              "updated_at": "2018-06-04T07:45:00.338Z",
              "private": false
            },
            {
              "@type": "job",
              "@href": "/job/351778874",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "delete_log": true,
                "cancel": true,
                "restart": true,
                "debug": true
              },
              "id": 351778874,
              "allow_failure": false,
              "n[...]
