---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/jobs?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Jobs::ForCurrentUser
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "jobs",
          "@href": "/jobs?limit=25",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 20283,
            "is_first": true,
            "is_last": false,
            "next": {
              "@href": "/jobs?limit=25&offset=25",
              "offset": 25,
              "limit": 25
            },
            "prev": null,
            "first": {
              "@href": "/jobs?limit=25",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/jobs?limit=25&offset=20275",
              "offset": 20275,
              "limit": 25
            }
          },
          "jobs": [
            {
              "@type": "job",
              "@href": "/job/487611549",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "delete_log": true,
                "cancel": true,
                "restart": true,
                "debug": true
              },
              "id": 487611549,
              "allow_failure": false,
              "number": "183.3",
              "state": "passed",
              "started_at": "2019-02-01T19:38:19Z",
              "finished_at": "2019-02-01T19:42:04Z",
              "build": {
                "@type": "build",
                "@href": "/build/487611546",
                "@representation": "minimal",
                "id": 487611546,
                "number": "183",
                "state": "passed",
                "duration": 418,
                "event_type": "pull_request",
                "previous_state": "passed",
                "pull_request_title": "Documentation enhancements & minor refactorings",
                "pull_request_number": 63,
                "started_at": "2019-02-01T19:36:25Z",
                "finished_at": "2019-02-01T19:42:04Z",
                "private": false
              },
              "queue": "builds.gce",
              "repository": {
                "@type": "repository",
                "@href": "/repo/22777898",
                "@representation": "minimal",
                "id": 22777898,
                "name": "trav3",
                "slug": "danielpclark/trav3"
              },
              "commit": {
                "@type": "commit",
                "@representation": "minimal",
                "id": 146910681,
                "sha": "1c994764ede089413c807d7f719a592697b4f73f",
                "ref": "refs/pull/63/merge",
                "message": "Example docs for Travis#builds & fix - #61\n\nFix: The builds method didn't account for checking all builds for the\nuser before.  New implementation does not break old method behavior.",
                "compare_url": "https://github.com/danielpclark/trav3/pull/63",
                "committed_at": "2019-02-01T19:33:02Z"
              },
              "owner": {
                "@type": "user",
                "@href": "/user/114816",
                "@representation": "minimal",
                "id": 114816,
                "login": "danielpclark"
              },
              "stage": null,
              "created_at": "2019-02-01T19:35:50.769Z",
              "updated_at": "2019-02-01T19:42:04.740Z",
              "private": false
            },
            {
              "@type": "job",
              "@href": "/job/487611548",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "delete_log": true,
                "cancel": true,
                "restart": true,
                "debug": true
              },
              "id": 487611548,
              "allow_failure": false,
              "n[...]
