---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/job/351778875/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Job::Cancel
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "pending",
          "job": {
            "@type": "job",
            "@href": "/job/351778875",
            "@representation": "minimal",
            "id": 351778875
          },
          "state_change": "cancel",
          "resource_type": "job"
        }
  recorded_at: Fri, 11 Jan 2019 21:14:23 GMT
recorded_with: VCR 4.0.0
