---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.com/job/173173524/debug
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Job::Debug
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "pending",
          "job": {
            "@type": "job",
            "@href": "/job/173173524",
            "@representation": "minimal",
            "id": 173173524
          },
          "state_change": "created",
          "resource_type": "job"
        }
  recorded_at: Tue, 29 Jan 2019 23:03:03 GMT
recorded_with: VCR 4.0.0
