---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/request/147776757
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Request::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "request",
          "@href": "/repo/22777898/request/147776757",
          "@representation": "standard",
          "id": 147776757,
          "state": "finished",
          "result": "approved",
          "message": null,
          "repository": {
            "@type": "repository",
            "@href": "/repo/22777898",
            "@representation": "minimal",
            "id": 22777898,
            "name": "trav3",
            "slug": "danielpclark/trav3"
          },
          "branch_name": "master",
          "commit": {
            "@type": "commit",
            "@representation": "minimal",
            "id": 145154296,
            "sha": "5ec64a3f574820258ad4ab549169805638718668",
            "ref": "refs/heads/master",
            "message": "Fix action deactivate in repository (typo)",
            "compare_url": "https://github.com/danielpclark/trav3/compare/bc2d920518c2...5ec64a3f5748",
            "committed_at": "2019-01-19T16:23:53Z"
          },
          "builds": [
            {
              "@type": "build",
              "@href": "/build/481790537",
              "@representation": "minimal",
              "id": 481790537,
              "number": "74",
              "state": "passed",
              "duration": 200,
              "event_type": "push",
              "previous_state": "passed",
              "pull_request_title": null,
              "pull_request_number": null,
              "started_at": "2019-01-19T16:25:13Z",
              "finished_at": "2019-01-19T16:26:28Z",
              "private": false
            }
          ],
          "owner": {
            "@type": "user",
            "@href": "/user/114816",
            "@representation": "minimal",
            "id": 114816,
            "login": "danielpclark"
          },
          "created_at": "2019-01-19T16:24:40Z",
          "event_type": "push",
          "base_commit": null,
          "head_commit": null
        }
  recorded_at: Mon, 21 Jan 2019 17:45:50 GMT
recorded_with: VCR 4.0.0
