---
http_interactions:
- request:
    method: delete
    uri: https://api.travis-ci.org/job/478772530/log
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Log::Delete
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "log",
          "@href": "/job/478772530/log",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "restart": false,
            "delete_log": false,
            "debug": false,
            "cancel": false
          },
          "id": 351921791,
          "content": "Log removed by Daniel P. Clark at 2019-01-28 21:11:29 UTC",
          "log_parts": [
            {
              "content": "Log removed by Daniel P. Clark at 2019-01-28 21:11:29 UTC",
              "final": true,
              "number": 0
            }
          ],
          "@raw_log_href": "/v3/job/478772530/log.txt"
        }
  recorded_at: Mon, 28 Jan 2019 21:11:30 GMT
recorded_with: VCR 4.0.0
