---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/job/351778875/log
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Log::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "log",
          "@href": "/job/351778875/log",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "delete_log": false,
            "cancel": false,
            "restart": false,
            "debug": false
          },
          "id": 256864317,
          "content": "travis_fold:start:worker_info\r\u001b[0K\u001b[33;1mWorker information\u001b[0m\nhostname: 14917a60-eaf0-465a-8075-ea85da84f14a@1.production-1-worker-org-gce-gnz2\nversion: v6.2.0 https://github.com/travis-ci/worker/tree/5e5476e01646095f48eec13196fdb3faf8f5cbf7\ninstance: travis-job-1c277cfd-c1d5-42ac-bf25-be6b2c5a713b travis-ci-garnet-trusty-1512502259-986baf0 (via amqp)\nstartup: 6.457605531s\ntravis_fold:end:worker_info\r\u001b[0Ktravis_fold:start:system_info\r\u001b[0K\u001b[33;1mBuild sys[...]
