---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Repositories::ForCurrentUser
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "repositories",
          "@href": "/repos?limit=25",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 106,
            "is_first": true,
            "is_last": false,
            "next": {
              "@href": "/repos?limit=25&offset=25",
              "offset": 25,
              "limit": 25
            },
            "prev": null,
            "first": {
              "@href": "/repos?limit=25",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repos?limit=25&offset=100",
              "offset": 100,
              "limit": 25
            }
          },
          "repositories": [
            {
              "@type": "repository",
              "@href": "/repo/93278",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "create_request": true,
                "admin": false,
                "activate": true,
                "migrate": false,
                "star": true,
                "deactivate": true,
                "unstar": true,
                "create_cron": true,
                "create_env_var": true,
                "create_key_pair": true,
                "delete_key_pair": true
              },
              "id": 93278,
              "name": "fish-nuggets",
              "slug": "lunks/fish-nuggets",
              "description": "Completions, code snippets helping you to get even more out of the amazing Fish shell",
              "github_id": 1518918,
              "github_language": null,
              "active": false,
              "private": false,
              "owner": {
                "@type": "user",
                "id": 335,
                "login": "lunks",
                "@href": "/user/335"
              },
              "default_branch": {
                "@type": "branch",
                "@href": "/repo/93278/branch/master",
                "@representation": "minimal",
                "name": "master"
              },
              "starred": false,
              "managed_by_installation": false,
              "active_on_org": null,
              "migration_status": null
            },
            {
              "@type": "repository",
              "@href": "/repo/3625659",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "create_request": true,
                "admin": true,
                "activate": true,
                "migrate": true,
                "star": true,
                "deactivate": true,
                "unstar": true,
                "create_cron": true,
        [...]
