---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/owner/github_id/639823/repos?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Repositories::ForOwner
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "repositories",
          "@href": "/owner/github_id/639823/repos?limit=25",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 243,
            "is_first": true,
            "is_last": false,
            "next": {
              "@href": "/owner/github_id/639823/repos?limit=25&offset=25",
              "offset": 25,
              "limit": 25
            },
            "prev": null,
            "first": {
              "@href": "/owner/github_id/639823/repos?limit=25",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/owner/github_id/639823/repos?limit=25&offset=225",
              "offset": 225,
              "limit": 25
            }
          },
          "repositories": [
            {
              "@type": "repository",
              "@href": "/repo/4067916",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "activate": false,
                "deactivate": false,
                "migrate": false,
                "star": false,
                "unstar": false,
                "create_cron": false,
                "create_env_var": false,
                "create_key_pair": false,
                "create_request": false,
                "admin": false,
                "delete_key_pair": false
              },
              "id": 4067916,
              "name": "php-src-builder",
              "slug": "travis-ci/php-src-builder",
              "description": "Builds php/php-src with php-build and uploads artifacts to S3",
              "github_id": 30946458,
              "github_language": null,
              "active": true,
              "private": false,
              "owner": {
                "@type": "organization",
                "id": 87,
                "login": "travis-ci",
                "@href": "/org/87"
              },
              "default_branch": {
                "@type": "branch",
                "@href": "/repo/4067916/branch/default",
                "@representation": "minimal",
                "name": "default"
              },
              "starred": false,
              "managed_by_installation": false,
              "active_on_org": null,
              "migration_status": null
            },
            {
              "@type": "repository",
              "@href": "/repo/119756",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "activate": false,
                "deactivate": false,
                "migrate": false,
                "star": false,
                "unstar": false,
                "create_cron": false,
                "create_env_var": false,
                "create_key_pair"[...]
