---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::UserSettings::ForRepository
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "settings",
          "@href": "/repo/danielpclark%2Ftrav3/settings",
          "@representation": "standard",
          "settings": [
            {
              "@type": "setting",
              "@href": "/repo/22777898/setting/builds_only_with_travis_yml",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "write": true
              },
              "name": "builds_only_with_travis_yml",
              "value": false
            },
            {
              "@type": "setting",
              "@href": "/repo/22777898/setting/build_pushes",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "write": true
              },
              "name": "build_pushes",
              "value": true
            },
            {
              "@type": "setting",
              "@href": "/repo/22777898/setting/build_pull_requests",
              "@[...]
