---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/4067916?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Repository::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@warnings": [
            {
              "@type": "warning",
              "message": "query parameter limit not safelisted, ignored",
              "warning_type": "ignored_parameter",
              "parameter": "limit"
            }
          ],
          "@type": "repository",
          "@href": "/repo/4067916",
          "@representation": "standard",
          "@permissions": {
            "read": true,
            "create_request": false,
            "admin": false,
            "deactivate": false,
            "star": false,
            "unstar": false,
            "create_cron": false,
            "activate": false,
            "create_env_var": false,
            "migrate": false,
            "delete_key_pair": false,
            "create_key_pair": false
          },
          "id": 4067916,
          "name": "php-src-builder",
          "slug": "travis-ci/php-src-builder",
          "description": "Builds php/php-src with php-build and uploads artifacts to S3",
          "github_id": 30946458,
          "github_language": null,
          "active": true,
          "private": false,
          "owner": {
            "@type": "organization",
            "id": 87,
            "login": "travis-ci",
            "@href": "/org/87"
          },
          "default_branch": {
            "@type": "branch",
            "@href": "/repo/4067916/branch/default",
            "@representation": "minimal",
            "name": "default"
          },
          "starred": false,
          "managed_by_installation": false,
          "active_on_org": null,
          "migration_status": null
        }
  recorded_at: Tue, 22 Jan 2019 21:22:57 GMT
recorded_with: VCR 4.0.0
