---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Organizations::ForCurrentUser
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "organizations",
          "@href": "/orgs",
          "@representation": "standard",
          "@pagination": {
            "limit": 100,
            "offset": 0,
            "count": 2,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/orgs",
              "offset": 0,
              "limit": 100
            },
            "last": {
              "@href": "/orgs",
              "offset": 0,
              "limit": 100
            }
          },
          "organizations": [
            {
              "@type": "organization",
              "@href": "/org/123227",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "sync": true
              },
              "id": 123227,
              "login": "rubyforgood",
              "name": "Ruby for Good",
              "github_id": 11573263,
              "avatar_url": "https://avatars1.githubusercontent.com/u/11573263",
              "education": false,
              "allow_migration": false
            },
            {
              "@type": "organization",
              "@href": "/org/107660",
              "@representation": "standard",
              "@permissions": {
                "read": true,
                "sync": true
              },
              "id": 107660,
              "login": "6ftDan",
              "name": "",
              "github_id": 1786951,
              "avatar_url": "https://avatars1.githubusercontent.com/u/1786951",
              "education": false,
              "allow_migration": false
            }
          ]
        }
  recorded_at: Mon, 14 Jan 2019 14:31:39 GMT
recorded_with: VCR 4.0.0
