---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/crons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Crons::ForRepository
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "crons",
          "@href": "/repo/danielpclark%2Ftrav3/crons",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 0,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/danielpclark%2Ftrav3/crons",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/danielpclark%2Ftrav3/crons?limit=25&offset=-25",
              "offset": -25,
              "limit": 25
            }
          },
          "crons": [

          ]
        }
  recorded_at: Mon, 28 Jan 2019 21:44:30 GMT
recorded_with: VCR 4.0.0
