---
http_interactions:
- request:
    method: post
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/requests
    body:
      encoding: UTF-8
      string: '{"request":{"message":"Override the commit message: this is an api
        request","branch":"master"}}'
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Requests::Create
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "pending",
          "remaining_requests": 10,
          "repository": {
            "@type": "repository",
            "@href": "/repo/22777898",
            "@representation": "minimal",
            "id": 22777898,
            "name": "trav3",
            "slug": "danielpclark/trav3"
          },
          "request": {
            "repository": {
              "id": 165383423,
              "owner_name": "danielpclark",
              "name": "trav3"
            },
            "user": {
              "id": 114816
            },
            "id": 147779403,
            "message": "Override the commit message: this is an api request",
            "branch": "master",
            "config": {
            }
          },
          "resource_type": "request"
        }
  recorded_at: Sat, 19 Jan 2019 16:56:14 GMT
recorded_with: VCR 4.0.0
