---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repo/danielpclark%2Ftrav3/branches?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Branches::Find
      X-Oauth-Scopes:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "branches",
          "@href": "/repo/danielpclark%2Ftrav3/branches?limit=25",
          "@representation": "standard",
          "@pagination": {
            "limit": 25,
            "offset": 0,
            "count": 3,
            "is_first": true,
            "is_last": true,
            "next": null,
            "prev": null,
            "first": {
              "@href": "/repo/danielpclark%2Ftrav3/branches?limit=25",
              "offset": 0,
              "limit": 25
            },
            "last": {
              "@href": "/repo/danielpclark%2Ftrav3/branches?limit=25",
              "offset": 0,
              "limit": 25
            }
          },
          "branches": [
            {
              "@type": "branch",
              "@href": "/repo/22777898/branch/master",
              "@representation": "standard",
              "name": "master",
              "repository": {
                "@type": "repository",
                "@href": "/repo/22777898",
                "@representation": "minimal",
                "id": 22777898,
                "name": "trav3",
                "slug": "danielpclark/trav3"
              },
              "default_branch": true,
              "exists_on_github": true,
              "last_build": {
                "@type": "build",
                "@href": "/build/479429544",
                "@representation": "minimal",
                "id": 479429544,
                "number": "15",
                "state": "passed",
                "duration": 201,
                "event_type": "push",
                "previous_state": "passed",
                "pull_request_title": null,
                "pull_request_number": null,
                "started_at": "2019-01-14T14:47:09Z",
                "finished_at": "2019-01-14T14:48:27Z",
                "private": false
              }
            },
            {
              "@type": "branch",
              "@href": "/repo/22777898/branch/trav3%2Ffeature%2Forganizations",
              "@representation": "standard",
              "name": "trav3/feature/organizations",
              "repository": {
                "@type": "repository",
                "@href": "/repo/22777898",
                "@representation": "minimal",
                "id": 22777898,
                "name": "trav3",
              [...]
