---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.com/installation/617754
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Travis-Api-Version:
      - '3'
      Authorization:
      - token xxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Endpoint:
      - Travis::API::V3::Services::Installation::Find
      X-Oauth-Scopes:
      - public,private
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "@type": "installation",
          "@href": "/installation/617754",
          "@representation": "standard",
          "id": 95227,
          "github_id": 617754,
          "owner": {
            "@type": "user",
            "@href": "/user/119240",
            "@representation": "minimal",
            "id": 119240,
            "login": "danielpclark"
          }
        }
  recorded_at: Sat, 26 Jan 2019 18:34:09 GMT
recorded_with: VCR 4.0.0
